* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.header {
  margin: 1rem 1rem 0 1rem;
  padding: 2rem;
  background-color: rgba(1, 209, 177, 30);
  color: rgba(229, 255, 250, 20);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: left;
  text-transform: capitalize;
}

.main {
  margin: 1rem 1rem 1rem 1rem;
  padding: 0.5rem;
  background-color: rgba(237, 237, 237, 50);
}

.footer {
  margin: 1rem 1rem 1rem 1rem;
  padding: 0.5rem;
  background-color: rgba(30, 155, 237, 50);
  color: rgba(229, 255, 250, 20);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 0.8em;
  text-align: left;
  text-transform: capitalize;
}

.menu {
  border: solid 1px orange;
  padding: 10px;
  margin: 5px;
}